PORT=6969
NODE_ENV=development
# Kết nối MongoDB Local: mongodb://127.0.0.1:27017/ten_database
# Kết nối MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/ten_database
MONGO_URI=mongodb://127.0.0.1:27017/crud_db